/include/ "system-conf.dtsi"
/ {
	model = "Zynq Eclypse Z7 Development Board";
	compatible = "digilent,zynq-zyboz7", "xlnx,zynq-7000";

	chosen {
		bootargs = "console=ttyPS0,921600 earlyprintk uio_pdrv_genirq.of_id=generic-uio";
	};

	usb_phy0: usb_phy@0 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};
};
&gem0 {
	phy-handle = <&phy0>;
	ps7_ethernet_0_mdio: mdio {
		phy0: phy@1 {
			compatible = "marvell,88e1116r";
			device_type = "ethernet-phy";
			reg = <1>;
		};
	};
};
&sdhci0 {
	status = "okay";
};

&i2c1 {
        status = "okay";
        device-name = "pmcu-i2c";
};

&usb0 {
	dr_mode = "host";
	status 	= "okay";
	usb-phy = <&usb_phy0>;
};
